.home-power-icon {
  width: 136px;
  height: 136px;
}

ion-header.home-header {
  padding: 32px 24px 0;
  --background: transparent;
  background: #ffff;
}

ion-header.home-header ion-toolbar.header-container {
  --background: #ffffff;
}

ion-header.home-header ion-img {
  width: 47.44px;
}

ion-header.home-header ion-buttons {
  margin: 0;
}

ion-header.home-header ion-button.header-icon {
  border-radius: 50%;
  background: var(--ion-color-light);
  --border-radius: 50%;
  height: 44px;
  width: 44px;
  margin: 0;
}

.header-icon ion-icon {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

ion-content.home-container {
  --padding-bottom: 60px;
  --padding-end: 24px;
}

ion-content.home-container div.home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div.home-content > .subtitle {
  font-size: 15px;
}

.btn-connect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-connect-container ion-text {
  font-size: 20px;
  margin-top: 30px;
}

ion-content.home-container div.home-content ion-button.btn-expand {
  width: 100%;
}

ion-button.button-clear {
  height: auto;
}

/* Connection interval container */
.home-connecting-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

ion-text.interval-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 190%;
}

.interval-time {
  display: block;
  font-weight: 600;
  font-size: 52px;
  line-height: 140%;
}

/* Connection Info container */
.connection-info-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: space-between;
  justify-content: space-between;
}
